#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
#                    configuration for clang-format 13.0                      #
#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
 Language                                       : Cpp
 Standard                                       : Auto
 ColumnLimit                                    : 0
#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
 AccessModifierOffset                           : -4
 AlignAfterOpenBracket                          : Align
 AlignArrayOfStructures                         : Left
 AlignConsecutiveAssignments                    : Consecutive
 AlignConsecutiveBitFields                      : Consecutive
 AlignConsecutiveDeclarations                   : Consecutive
 AlignConsecutiveMacros                         : AcrossEmptyLinesAndComments
 AlignEscapedNewlines                           : Right
 AlignOperands                                  : Align
 AlignTrailingComments                          : false
 AllowAllArgumentsOnNextLine                    : false
 AllowAllConstructorInitializersOnNextLine      : false
 AllowAllParametersOfDeclarationOnNextLine      : false
 AllowShortBlocksOnASingleLine                  : Always
 AllowShortCaseLabelsOnASingleLine              : true
 AllowShortEnumsOnASingleLine                   : true
 AllowShortFunctionsOnASingleLine               : All
 AllowShortIfStatementsOnASingleLine            : AllIfsAndElse
 AllowShortLambdasOnASingleLine                 : All
 AllowShortLoopsOnASingleLine                   : true
 AlwaysBreakAfterReturnType                     : None
 AlwaysBreakBeforeMultilineStrings              : false
 AlwaysBreakTemplateDeclarations                : Yes
 BinPackArguments                               : false
 BinPackParameters                              : false
 BitFieldColonSpacing                           : After
 BreakBeforeBinaryOperators                     : All
 BreakBeforeBraces                              : WebKit
 BreakBeforeTernaryOperators                    : false
 BreakConstructorInitializers                   : AfterColon
 BreakInheritanceList                           : AfterColon
 BreakStringLiterals                            : false
 CompactNamespaces                              : false
 ConstructorInitializerAllOnOneLineOrOnePerLine : true
 ConstructorInitializerIndentWidth              : 4
 ContinuationIndentWidth                        : 4
 Cpp11BracedListStyle                           : false
 EmptyLineAfterAccessModifier                   : Never
 EmptyLineBeforeAccessModifier                  : Always
 FixNamespaceComments                           : true
 IndentAccessModifiers                          : false
 IndentCaseBlocks                               : false
 IndentCaseLabels                               : true
 IndentExternBlock                              : Indent
 IndentGotoLabels                               : true
 IndentPPDirectives                             : BeforeHash
 IndentWidth                                    : 4
 IndentWrappedFunctionNames                     : false
 InsertTrailingCommas                           : None
 KeepEmptyLinesAtTheStartOfBlocks               : false
 LambdaBodyIndentation                          : Signature
 MaxEmptyLinesToKeep                            : 1
 NamespaceIndentation                           : All
 PPIndentWidth                                  : 4
 PointerAlignment                               : Right
 ReferenceAlignment                             : Right
 ReflowComments                                 : false
 ShortNamespaceLines                            : 0
 SortIncludes                                   : Never
 SortUsingDeclarations                          : true
 SpaceAfterCStyleCast                           : true
 SpaceAfterLogicalNot                           : false
 SpaceAfterTemplateKeyword                      : false
 SpaceAroundPointerQualifiers                   : Default
 SpaceBeforeAssignmentOperators                 : true
 SpaceBeforeCaseColon                           : false
 SpaceBeforeCpp11BracedList                     : false
 SpaceBeforeCtorInitializerColon                : false
 SpaceBeforeInheritanceColon                    : false
 SpaceBeforeParens                              : ControlStatements
 SpaceBeforeRangeBasedForLoopColon              : false
 SpaceBeforeSquareBrackets                      : false
 SpaceInEmptyBlock                              : false
 SpaceInEmptyParentheses                        : false
 SpacesBeforeTrailingComments                   : 4
 SpacesInAngles                                 : Never
 SpacesInCStyleCastParentheses                  : false
 SpacesInConditionalStatement                   : false
 SpacesInContainerLiterals                      : false
 SpacesInLineCommentPrefix                      :
     Minimum                                    : 1
     Maximum                                    : 1
 SpacesInParentheses                            : false
 SpacesInSquareBrackets                         : false
 TabWidth                                       : 4
 UseTab                                         : Never
#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
